* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #faf9f9;
  --dark-gray: #a7adba;
}

html {
  /* 10px / 16px = 0.625 === 62.5% */
  font-size: 62.5%;
  color: #333;
}

body {
  background-color: var(--light-gray);
}

li {
  list-style: none;
}

.navbar {
  background-color: var(--dark-gray);
  padding: 0 2rem;
  font-size: 1.9rem;
  max-width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
}

.select {
  position: absolute;
  right: 0;
  height: 100%;
  border: 2px solid #333;
  background: var(--light-gray);
  font-size: 1.6rem;
  padding-left: 1rem;
  border-radius: 1rem;
  z-index: 2;
}

.input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.input::placeholder {
  color: #999;
}

.select option {
  background: #fff;
  color: #333;
  padding: 1rem;
}

.about-logo {
  border-radius: 50%;
}

.content {
  margin: 2rem;
}

.content h1 {
  margin-bottom: 2rem;
}

.loading,
.no-more {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.loading {
  animation: pulsate 1.5s ease-in-out infinite;
}

.credit {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin-right: 2.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  z-index: 1;
}

/* Photo gallery container */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
}

/* Gallery Item */
.photo-item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.photo-item:hover {
  transform: scale(1.05);
}

/* photo Image */
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

/* Image Overlay */
.photo-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  transition: opacity 0.2s ease-in-out;
}

.photo-item:hover .overlay {
  opacity: 1;
}

.download-icon {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--light-gray);
  opacity: 0.7;
  padding: 1rem;
  border-radius: 1rem;
}

.download-icon:hover {
  opacity: 1;
}

.download-icon img {
  width: 2rem;
}

/* video container */
.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1.5rem;
}

/* video Item */
.video-item {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

/* video item Video */
.video-item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #f4f4f4; /* background of video color when aspect ratio does not match */
}

/* Hover Effect */
.video-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* about */
.about {
  background-color: var(--dark-gray);
  font-size: 2.2rem;
  padding: 2rem 2.4rem;
  color: #333;
  border-radius: 1rem;
  line-height: 1.3;
}
.about a {
  text-decoration: none;
  color: #fcfcfc;
  background-color: #696969;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.about p:not(:last-child) {
  margin-bottom: 2rem;
}

/* pulsing animation */
@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Media queries */
/* Tablets */
/* 768px /16px = 48em */

@media (max-width: 48em) {
  .navbar {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .navbar ul {
    justify-content: space-evenly;
  }
  .searchContainer {
    width: 35rem;
  }
  .select {
    font-size: 1.4rem;
  }
  .photo-logo,
  .videos-logo {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* Smaller tablets(Below 704px) */
@media (max-width: 44em) {
  .searchContainer {
    width: 30rem;
  }
  .input {
    padding: 0.8rem 1rem;
  }

  .videos-logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.8rem;
  }
  .navbar li a .photo-logo {
    display: none;
    position: absolute;
    left: -9999px;
  }
}

/* phones(below 544px) */
@media (max-width: 34em) {
  .navbar ul {
    gap: 0.1rem;
  }
  .logo,
  .about-logo {
    width: 2.6rem;
    height: 2.6rem;
  }
  .searchForm {
    margin: 1rem 0;
  }
  .searchContainer {
    width: 25rem;
  }
  .select {
    padding-left: 0.6rem;
    font-size: 1.2rem;
  }
  .input {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
  }
}

/* Medium phones */
@media (max-width: 23.4375em) {
  .navbar {
    padding: 0 0.5rem;
  }
  .searchContainer {
    width: 20rem;
  }
  .logo {
    margin-right: 0.6rem;
    width: 2rem;
    height: 2rem;
  }
  .videos-logo {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
  }
  .about-logo {
    width: 2.4rem;
    height: 2.4rem;
  }
}
